[user]
	name = Kovensky
	email = diogomfranco@gmail.com
[color]
	ui = auto
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = diogomfranco@gmail.com
	suppressfrom = 1
