[submodule "zinit"]
	path = submodules/zinit
	url = https://github.com/zdharma/zinit
	branch = master
[submodule "rbenv"]
	path = submodules/rbenv
	url = https://github.com/rbenv/rbenv
	branch = master
[submodule "nodenv"]
	path = submodules/nodenv
	url = https://github.com/nodenv/nodenv
	branch = master
[submodule "node-build"]
	path = submodules/node-build
	url = https://github.com/nodenv/node-build
	branch = master
[submodule "node-build-update-defs"]
	path = submodules/node-build-update-defs
	url = https://github.com/nodenv/node-build-update-defs
	branch = master
[submodule "nodenv-npm-migrate"]
	path = submodules/nodenv-npm-migrate
	url = https://github.com/nodenv/nodenv-npm-migrate
	branch = master
[submodule "nodenv-update"]
	path = submodules/nodenv-update
	url = https://github.com/nodenv/nodenv-update
	branch = master
[submodule "ruby-build"]
	path = submodules/ruby-build
	url = https://github.com/rbenv/ruby-build
	branch = master
[submodule "submodules/ubuntu-wsl2-systemd-script"]
	path = submodules/ubuntu-wsl2-systemd-script
	url = https://github.com/DamionGans/ubuntu-wsl2-systemd-script
[submodule "submodules/tpm"]
	path = home/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
